@font-face {
    font-family: 'PTSerif-Bold';
    src: url('assets/fonts/PTSerif-Bold/PTSerif-Bold.woff2') format('woff2'),
        url('assets/fonts/PTSerif-Bold/PTSerif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'SupriaSans-Regular';
    src: url('assets/fonts/SupriaSans-Regular/SupriaSans-Regular.woff2') format('woff2'),
        url('assets/fonts/SupriaSans-Regular/SupriaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'SupriaSans-Bold';
    src: url('assets/fonts/SupriaSans-Bold/SupriaSans-Bold.woff2') format('woff2'),
        url('assets/fonts/SupriaSans-Bold/SupriaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'SupriaSans-Heavy';
    src: url('assets/fonts/SupriaSans-Heavy/SupriaSans-Heavy.woff2') format('woff2'),
        url('assets/fonts/SupriaSans-Heavy/SupriaSans-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('assets/fonts/Roboto-Light/Roboto-Light.woff2') format('woff2'),
        url('assets/fonts/Roboto-Light/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}



*,*:focus,.btn,.btn:focus {
  outline: 0!important;
  text-decoration: none
}
a,button,input {
  outline: 0;
  border: 0;
  -ms-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease
}
a,a:hover,a:focus,button:hover,button:focus {
  text-decoration: none;
  outline: 0;
}
body {
  background-color: #fff;
  color: #323232;
  font-size: 24px;
  line-height: 29px;
  font-family: 'SupriaSans-Regular';
  background: url(assets/images/body-bg.jpg);
}
img {
  max-width: 100%;
  height: auto;
}
.ulc {
  margin: 0;
  padding: 0;
  list-style: none;
}
.overlay-link {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.fl-page-bdy-controller{
  max-width: 1145px;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  margin-top: 32px;
  margin-bottom: 2px;
  position: relative;
}



.container {
  max-width: 1175px;
  width: 100%;
}
.container-sm{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.hide-md {
  display: block!important
}
.show-md {
  display: none!important
}

.hide-sm {
  display: block!important
}
.show-sm {
  display: none!important
}
.hide-xs {
  display: block!important
}
.show-xs {
  display: none!important
}
.inline-bg{
  background-position: center center!important;
  background-size: cover!important;
  background-repeat: no-repeat!important;
}
.text-center{
  text-align: center;
}
.color-blue{
  color: #004370;
}
.bg-blue{
  background-color: #004370;
}
.bg-green{
  background-color: #00b80d;
}
.color-green{
  color: #00b80d;
}

p { margin: 0; margin-bottom: 30px; line-height: 1.2}
a { word-wrap: break-word } 
strong,b { font-family: 'SupriaSans-Bold'; }
u{
  text-decoration: underline;
}
.plr-30 {
  padding-left: 30px!important;
  padding-right: 30px!important
}
.plr-20 {
  padding-left: 20px!important;
  padding-right: 20px!important
}
.plr-10 {
  padding-left: 10px!important;
  padding-right: 10px!important
}
.plr-15 {
  padding-left: 15px!important;
  padding-right: 15px!important
}
.plr-5{
  padding-left: 5px!important;
  padding-right: 5px!important
}

h1 {
  font-size: 68px;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 48px;
}
h4 {
  font-size: 34px;
}
h5{
  font-size: 20px;
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  line-height: 1.2;
  font-family: 'PTSerif-Bold';
  text-transform: uppercase;
} 


header.fl-hdr{
  background: #fff;
  border-top: 1px solid #e0e0e2;
}

.header-innr{
  display: flex;
  align-items: center;
  padding: 7px 0;
}
.hdr-left{
  width: 50%;
  padding-right: 30px;
}
.hdr-rgt{
  width: 50%;
  padding-left: 30px;
  text-align: right;
}

.hdr-logo{
  display: inline-block;
  vertical-align: baseline;
}
.secure-img{
  display: inline-block;
  vertical-align: baseline;
}



.bnr-des{
  padding: 45px 0 0;
}

.bnr-des h1{
  margin-bottom: 32px;
  line-height: 1.05;
}


.agss-sec-1{
  border-bottom: 5px solid #dbdfe0;
}
.agss-sec-1-inr{
  padding-top: 20px;
}
.agss-sec-1-inr h4{
  margin-bottom: 20px;
  color: #fff;
}


.fl-ftr{
  background: #1d2226;
  padding: 35px 0;
}

.ftr-menu{
  padding-bottom: 30px;
}
.ftr-menu ul li{
  display: inline-block;
  padding-left: 13px;
  padding-right: 13px;
}
.ftr-menu ul li a{
  color: #fff;
  font-size: 18px;
  font-family: 'Roboto-Light';
}
.ftr-menu ul li a:hover{
  color: #0c81a7;
}

.ftr-des{
  padding-left: 10px;
  padding-right: 10px;
}
.ftr-des p{
  font-size: 16px;
  color: #fff;
  font-family: 'Roboto-Light';
  line-height: 1.4;
}

.ftr-copywrite p{
  color: #fff;
  font-size: 16px;
  margin-bottom: 0;
  font-family: 'Roboto-Light';
}

.agus-products{
  padding-top: 65px;
}
.agus-pro-item{
  padding: 60px 35px 42px 60px;
  position: relative;
  border: 2px solid #808080;
  border-radius: 20px;
  margin-bottom: 55px;
}
.agus-pro-item:last-child{
  margin-bottom: 42px;
}
span.pro-hl-btn{
  position: absolute;
  top: 0;
  left: 63px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  display: inline-block;
  line-height: 1;
  margin-bottom: 0;
  background:  #808080;
  color: #fff;
  border-radius: 4px;
  font-size: 20px;
  font-family: 'SupriaSans-Bold';
  padding: 16px 32px;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 16px 6px rgba(236,238,239,0.9); 
  box-shadow: 0px 0px 16px 6px rgba(236,238,239,0.9);
}
span.checkmark{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  height: 51px;
  width: 51px;
  border-radius: 50% 50%;
  border: 2px solid #808080;
  background: #fff;
}
span.checkmark:after{
  left: 9px;
    top: 12px;
    background: url('assets/images/check-img.png');
    background-repeat: no-repeat!important;
    width: 28px;
    height: 22px;
    content: "";
    position: absolute;
    opacity: 0;
    visibility: hidden;

}
.agus-pro-item-img{
  float: left;
  width: 50%;
}
.agus-pro-item-desc{
  width: 50%;
  float: left;
  padding-left: 40px;
  text-align: center;
}
.agus-pro-item-desc h3{
  color: #004370;
  text-align: center;
  font-family: 'SupriaSans-Bold';
  line-height: 1.1;
  margin-bottom: 2px;
}
.agus-pro-item-desc-prize{
  position: relative;
  display: inline-block;
  padding-left: 46px;
  padding-right: 100px;
  line-height: 1;
  margin-bottom: 25px;
}
.agus-pro-item-desc-prize strong{
  color: #000000;
  font-family: 'SupriaSans-Heavy';
  font-size: 60px;
  
  line-height: 1;
  
}
.agus-pro-item-desc-prize:before {
    content: "$";
    position: absolute;
    left: 3px;
    color: #000000;
    top: -0;
    font-size: 60px;
    line-height: 100%;
    font-family: 'SupriaSans-Heavy';
    margin-right: 2px;
}
.agus-pro-item-desc-prize sub {
    position: absolute;
    color: #000000;
    right: -5px;
    font-size: 35px;
    bottom: 23px;
    font-family: 'SupriaSans-Heavy';
}
.agus-pro-item-desc-check-btn{

}
.agus-pro-item-desc-check-btn button{
  line-height: 1;
  margin-bottom: 0;
  background:  #808080;
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'SupriaSans-Bold';
  padding: 27px 55px;
  text-transform: uppercase;
}
.agus-pro-item-desc-check-btn button:hover{
  background: #00b80d;
}



.agus-pro-btn{
  padding-bottom: 10px;
}
.agus-pro-btn-ctlr input[type=submit]{
  background: #00b80d;
  color: #fff;
  width: 412px;
  height: 98px;
  border: 2px solid #00b80d;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-size: 30px;
  font-family: 'SupriaSans-Bold';
  -webkit-box-shadow: 0px 0px 16px 6px rgba(237,239,240,0.9); 
  box-shadow: 0px 0px 16px 6px rgba(237,239,240,0.9);
}

.agus-pro-btn-ctlr input[type=submit]:hover{
  background: #03a80e;
}
.agus-pro-btn-ctlr input[type=checkbox]{
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.agus-pro-item.thisActive{
  border-color: #0089c3;
} 
.thisActive span.pro-hl-btn{
  background: #1daae7;
}
.thisActive span.checkmark{
  border-color: #0089c3;
}
.thisActive span.checkmark:after{
  visibility: visible;
  opacity: 1;
}
.thisActive .agus-pro-item-desc-check-btn button{
  background: #00b80d;
}

.agusn-sec{
  padding-bottom: 10px;
}

@media(max-width: 1199px){
    .hide-md{
      display: none!important;
    }
    .show-md{
      display: block!important;
    }
    h3 {
      font-size: 46px;
    }
    .agus-pro-cntlr{
      padding-left: 20px;
      padding-right: 20px;
    }
    .agus-pro-item-desc{
      padding-left: 20px;
    }
    
}
@media(max-width: 991px){
    .hide-sm{
        display: none!important;
    }
    .show-sm{
        display: block!important;
    }
    h1{
      font-size: 62px;
    }
    h2{
      font-size: 55px;
    }
    h3 {
      font-size: 40px;
    }
    h4 {
      font-size: 32px;
    }

    .agss-sec-1-inr{
      padding-left: 20px;
      padding-right: 20px;
    }

    .agus-pro-item-img{
      width: 100%;
    }
    .agus-pro-item-desc{
      width: 100%;
      padding-left: 0;
    }
    .img-center{
      text-align: center;
        padding: 0;
        margin: 0;
        padding-bottom: 30px;
    }
    .agus-pro-item{
      padding: 60px 20px 42px 30px;
    }
    span.pro-hl-btn{
      left: 50%;
      transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
    }
    .agus-pro-item-desc-prize:before{
      font-size: 55px;
    }
    .agus-pro-item-desc-prize strong{
      font-size: 55px;
    }
    .agus-pro-item-desc-prize sub{
      font-size: 32px;
      right: 2px;
      bottom: 20px;
    }
    .agusn-inr{
      padding-left: 20px;
      padding-right: 20px;
    }
    
}


@media(max-width: 767px){
    .hide-xs{
        display: none!important;
    }
    .show-xs{
        display: block!important;
    }
    body {
        font-size: 20px;
    }
    p{
       margin-bottom: 20px;
    }
    h1{
      font-size: 56px;
    }
    h2{
      font-size: 50px;
    }
    h3 {
      font-size: 36px;
    }
    h4 {
      font-size: 30px;
    }
    br, 
    p br{
      display: none;
    }

    span.pro-hl-btn{
      font-size: 18px;
      padding: 14px 18px;
    }
    .agus-pro-item-desc-check-btn button{
      font-size: 18px;
    }
    .agus-pro-btn-ctlr input[type=submit]{
      font-size: 27px;
    }
    
    .agus-pro-item-desc-prize:before {
        font-size: 50px;
        left: 10px;
    }
    .agus-pro-item-desc-prize strong{
      font-size: 50px;
    }
    .agus-pro-item-desc-prize sub {
        font-size: 30px;
        right: 12px;
        bottom: 20px;
    }

}

@media(max-width: 575px){
    h1{
      font-size: 50px;
    }
    h2{
      font-size: 45px;
    }
    h3 {
      font-size: 32px;
    }
    h4 {
      font-size: 28px;
    }

    span.pro-hl-btn {
      font-size: 16px;
      text-align: center;
    }
    .agus-pro-item-desc-prize:before {
        font-size: 45px;
        left: 12px;
    }
    .agus-pro-item-desc-prize strong {
        font-size: 45px;
    }
    .agus-pro-item-desc-prize sub {
        font-size: 28px;
        right: 15px;
        bottom: 18px;
    }
    .agus-pro-item-desc-check-btn button{
      padding: 22px 45px;
    }
    .agus-pro-btn-ctlr input[type=submit] {
        font-size: 24px;
        height: 74px;
    }
}
@media(max-width: 479px){
    h1{
      font-size: 45px;
    }
    h2{
      font-size: 40px;
    }
    h3{
      font-size: 30px;
    }
    h4 {
      font-size: 25px;
    }

    .agus-pro-btn-ctlr input[type=submit]{
      max-width: 100%;
      width: 100%;
    }
    span.pro-hl-btn {
        font-size: 12px;
    }
    .agus-pro-item-desc-prize:before {
        font-size: 40px;
        left: 16px;
    }
    .agus-pro-item-desc-prize strong {
        font-size: 40px;
    }
    .agus-pro-item-desc-prize sub{
      right: 17px;
        bottom: 16px;
    }
    .agus-pro-item-desc-check-btn button {
        padding: 22px 20px;
        font-size: 16px;
    }
    .agus-pro-btn-ctlr input[type=submit] {
        font-size: 22px;
        height: 60px;
    }
}
@media(max-width: 359px){
  h3{
    font-size: 27px;
  }
}

