header.fl-hdr{
	background: #fff;
	border-top: 1px solid #e0e0e2;
}

.header-innr{
	display: flex;
	align-items: center;
	padding: 7px 0;
}
.hdr-left{
	width: 50%;
	padding-right: 30px;
}
.hdr-rgt{
	width: 50%;
	padding-left: 30px;
	text-align: right;
}

.hdr-logo{
	display: inline-block;
	vertical-align: baseline;
}
.secure-img{
	display: inline-block;
	vertical-align: baseline;
}



.bnr-des{
	padding: 20px 0;
}