@font-face {
    font-family: 'PTSerif-Bold';
    src: url('assets/fonts/PTSerif-Bold/PTSerif-Bold.woff2') format('woff2'),
        url('assets/fonts/PTSerif-Bold/PTSerif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'SupriaSans-Regular';
    src: url('assets/fonts/SupriaSans-Regular/SupriaSans-Regular.woff2') format('woff2'),
        url('assets/fonts/SupriaSans-Regular/SupriaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'SupriaSans-Bold';
    src: url('assets/fonts/SupriaSans-Bold/SupriaSans-Bold.woff2') format('woff2'),
        url('assets/fonts/SupriaSans-Bold/SupriaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'SupriaSans-Heavy';
    src: url('assets/fonts/SupriaSans-Heavy/SupriaSans-Heavy.woff2') format('woff2'),
        url('assets/fonts/SupriaSans-Heavy/SupriaSans-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Roboto-Thin';
    src: url('assets/fonts/Roboto-Thin/Roboto-Thin.woff2') format('woff2'),
        url('assets/fonts/Roboto-Thin/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr-Light';
    src: url('assets/fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.woff2') format('woff2'),
        url('assets/fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arialregular';
    src: url('assets/fonts/Arialregular/Arialregular.woff2') format('woff2'),
        url('assets/fonts/Arialregular/Arialregular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


